/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    color: white;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: #222;
}

header .logo img {
    width: 120px;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
    cursor: pointer;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

.dropdown {
    display: none;
    position: absolute;
    background: #333;
    top: 50px;
    right: 0;
    width: 200px;
    padding: 10px;
    list-style: none;
    border-radius: 5px;
}

.show {
    display: block;
}

/* Sección Soluciones */
.solutions {
    max-width: 900px;
    margin: 40px auto;
    background: #333;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.solutions h1 {
    color: #ffcc00;
}

/* Soluciones */
.solution-item {
    background: #444;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 30px;
}

.solution-title {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.solution-description, .solution-details {
    display: none;
    margin-top: 10px;
    font-size: 16px;
}

button{
    padding: 10px 20px;
    background: #ffcc00;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

table{
    margin:20px auto;
    text-align: center;
    align-items: center;
    border: 2px solid;
    border-color: white;
    padding: 50px;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background: #222;
    margin-top: 50px;
}